
.container {
  width: 100%;
  max-width: 500px;
  background-color: #E5E5CB;
  padding: 20px;
  border-radius: 20px;
}

.chatroom-header h1 {
  display: flex;
  margin: 0;
  font-weight: 30px;
  font-size: 14px;
  background-color: #113937;
  color: #FFFFFF;
  padding: 20px;
}

.chatroom-form {
  margin-top: 10px;
}

.messages {
  max-height: 400px;
  overflow-y: scroll;
  padding: 10px;
}

.message-row {
  margin-bottom: 10px;
}

.sender-style {
  background-color: #C0DEFF;
  color: #0e0d0d;
  border-radius: 10px;
  padding: 5px 10px;
  max-width: 70%;
}

.receiver-style {
  background-color: #E5FBB8;
  border-radius: 10px;
  padding: 5px 10px;
  max-width: 70%;
}


.chatroom-form input[type="text"] {
  border-radius: 50px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  width: 100%;
}

.chatroom-form .btn-primary {
  border-radius: 50px;
  padding: 10px;
  font-size: 16px;
  margin-left: 10px;
  background-color: #113937;
}

.chatroom-form .btn-primary:hover {
  background-color: #555;
}

@media only screen and (max-width: 600px) {
  .container.chatroom {
    width: 100%;
    padding: 0;
  }
  .chatroom-header h1 {
    font-size: 30px;
  }
  .chatroom-form {
    flex-wrap: wrap;
    // margin-top: 200px;
  }

  .messages {
    max-height: 80%;
  }
  .chatroom-form input[type="text"] {
    width: 100%;
  }
  .chatroom-form input[type="submit"] {
    margin-left: 0.5rem;
  }
}
