// Specific CSS for your home-pag
body {
  background-color:#92a8d1;
}

.card {
  background: white;
  padding: 50px;
  border: 20px solid lightgrey;
}

.container {
  width: 300px;
  border-radius: 4px;
  margin: 70px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.h1 {
  text-align: center;
  text-shadow: 5px 5px 8px rgba(0,0,0,0.2);
}

.btn-flat {
  color: white;
  padding: 8px 10px;
  border-radius: 4px;
  background: #514467;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #4D04C4;
  color: white;
}

.footer {
  text-align: center;
  //align-items: center;
  //justify-content: space-between;
  height:45px;
  width: 100%;
  //padding: 20px;
  color: rgba(0,0,0,0.3);
  position: absolute;
  bottom: 0;
  margin: 0px;
}

.footer .fa-heart {
  color: #D23333;
  font-size: 1rem;
  animation: heartbeat 0.5s infinite alternate;
  transform-origin: center;
}

@keyframes heartbeat {
  to {
     transform: scale(1.5);
  }
}
