// Specific CSS for your home-pag
body {
  background-color: #92a8d1;
}

.card {
  background: white;
  padding: 50px;
  border: 20px solid lightgrey;
}

.container {
  width: 500px;
  border-radius: 4px;
  margin: auto;
}

.h1 {
  text-align: center;
}

.btn-flat {
  color: white;
  padding: 8px 10px;
  border-radius: 4px;
  background: #514467;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #4D04C4;
  color: white;
}

.footer {
  background-color: rgb(192, 185, 185);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 1550px;
  padding: 50px 50px;
  color: rgba(0,0,0,0.3);
  position: absolute;
  bottom: 0;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: purple;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
  font-size: 1rem;
  animation: heartbeat 0.5s infinite alternate;
  transform-origin: center;
}

@keyframes heartbeat {
  to {
     transform: scale(1.5);
  }
}
