.session-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-actions {
  margin-top: 1rem;
  text-align: center;
  background-color: #D27685;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login {
  margin: 30px;
  width:70%;
  border: 2px rgb(206, 192, 192) solid;
  background-color: white;
  padding: 30px;
  background-color: #EDE9D5;
  box-shadow: 10px 3px 10px 3px #4e4040;
}

.ineed{
  font-size: 5em;
}

.basket-icon {
  color: #0E8388;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(.9);
  }
  100% {
    transform: scale(1);
  }
}
