<body>
<p><strong>Community Grocery Service </p>

<h1><strong>Welcome!<strong> What do you need?<strong></h1>

<div class="container">
   <h1><strong>iNeed</h1>
   <%= link_to "Go to lists", lists_path, class: "btn btn-flat" %>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
     <a href="#"><i class="fab fa-facebook"></i></a>
     <a href="#"><i class="fab fa-instagram"></i></a>
  </div>
<div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
<body>
