.your-list {
  width:40%;
  border: 2px rgb(242, 235, 235) solid;
  background-color: white;
  padding: 10px;
  // font-family: Papyrus, Fantasy;
  background-color: #EDE9D5;
}


.form_btn {
  color:white;
  background-color: #EA803A;
  border-radius: 5px;
}

.list-item {
  text-align: right;
}
.list-item i {
  display: inline-block;
  margin-left: 20px;
}

.friends-lists {
  width:40%;
  border: 2px rgb(242, 235, 235) solid;
  background-color: white;
  padding: 30px;
  // font-family: Papyrus, Fantasy;
  background-color: #EDE9D5;
  ul {
    list-style-type: none;
  }
}

.lists-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.your-list, .friends-lists {
  width: 100%;
  margin-bottom: 1rem;
  box-shadow: 10px 3px 10px 3px #4e4040;
}

/* styles for screens wider than 768px */
@media screen and (min-width: 768px) {
  .lists-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .your-list, .friends-lists {
    width: 40%;
    margin: 60px;
  }
}

.item_form {
  margin: 10px;
  width:70%;
  border: 2px rgb(216, 210, 210) solid;
  background-color: white;
  padding: 20px;
  // font-family: Papyrus, Fantasy;
  background-color: #EDE9D5;
  box-shadow: 10px 3px 10px 3px #4e4040;
}

.form_btn:hover {
  background-color: #98DFD6;
  box-shadow: 10px 3px 10px 3px #4e4040;
}

.scroll-icon {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 12px;
  padding: 10px;
  color: white;
  background-color: #4C4B16;
  border-radius: 20%;
  box-shadow: 5px 3px 5px 3px #aba6a6;
}

// .scroll-icon.scrolled {
//   // transform: translateX(-100px);
// }
