.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  
}

// .pop-up {
//   font-size: 14px;
//   line-height: 1.2;
//   padding: 10px;
//   height: 100px;
// }
