.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  // width: 50px;
  // height: 100px;
  font-size: 5px;
  line-height: 0.5;
  width: 150px;
  display: flex;
  justify-content: left;
}

// .pop-up {
//   font-size: 14px;
//   line-height: 1.2;
//   padding: 10px;
//   height: 100px;
// }
