.shared-list {
  border: 2px rgb(242, 235, 235) solid;
  background-color: white;
  padding: 10px;
  font-family: Papyrus, Fantasy;
  background-color: #EDE9D5;
  margin-top:50px;
  margin-left: 30%;
  margin-right: 30%;
}
